{{template "layout" .}}

{{ define "content" }}

<div class="contentbox">
    <h2 style="padding-left: 3%;">About</h2>
</div>
<div class="contentbox" style="font-size: larger;">
    <p>Hello there, a stranger from the Internet. If you`re here - then you are interested about this site.</p>
    <p>This website is my practice project and not intended to provide any serious and/or useful information or services.
        It`s a nice opportunity to build something on your own and get some experience from that to help yourself in the long run after all.
        If you`re a fellow novice programmer as I am - you can check my github repos if you don`t have any ideas about your next project. 
        Maybe you`ll find something interesting there. Basically I don`t have any idea behind this site, so it`s just my github repositories listed here.
    </p>
    <p>As for me, I program for enjoyment and want to become a programmer in the future myself. Self-taught. 
    </p>
</div>

{{ end }}